.red-underline {
	height: 10px;
	background-color: #ff4454;
	max-width: 100px;
	// margin: 0 140px;
}

/* hero section */
.hero {
	display: flex;
	flex-direction: column;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	height: 94vh;
	background: url('../public/nd_portfolio_hero_bkg.png') center center/cover;
	color: #fff;
	justify-content: center;

	.title {
		// margin-top: 280px;
		margin-top: -20px;
		// margin-left: 140px;
		display: flex;
		flex-direction: column;
		text-transform: uppercase;
		font-size: 1.8rem;

		span {
			color: #ff4454;
		}
	}

	.para {
		// margin-left: 140px;
		margin-top: 10px;

		p {
			font-size: 1.2rem;
		}
	}
}

/* about section */
.about {
	background-color: #1b1c1e;
	color: #fff;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

	h1 {
		padding: 160px 0px 0 0px;
		text-transform: uppercase;
	}

	.first-para {
		padding: 50px 0px 0px 0px;

		span {
			color: #ff4454;
		}
	}

	.second-para {
		padding: 15px 0px 180px 0px;
	}
}

/* contact me */

.contact-me {
	color: #000;
	background-color: #ebebeb;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	padding-bottom: 40px;
	// display: flex;

	h1 {
		text-transform: uppercase;
		padding: 150px 0px 0 0px;
	}

	.contact-me-body {
		display: flex;
		justify-content: space-between;

		form {
			margin: 80px 0px 100px 0px;

			.field {
				display: flex;
				margin-bottom: 30px;
				align-items: center;
				// justify-content: space-between;

				label {
					font-weight: bold;
					font-size: 1.1rem;
					min-width: 10px;
					// flex: 1;
					// margin-right: 300px;
				}

				input {
					margin-left: 300px;
					border: 0px;
					padding: 10px 10px;
					width: 420px;
				}

				textarea {
					margin-left: 275px;
					border: 0;
					min-width: 420px;
					max-width: 420px;
					min-height: 150px;
					font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
					padding: 10px;
				}
			}

			.email-field {
				input {
					margin-left: 303px;
				}
			}

			.message-field {
				align-items: flex-start;

				label {
					margin-top: 10px;
				}
			}

			.submit-btn {
				margin-top: 80px;

				input {
					background: #ff4454;
					color: #fff;
					padding: 15px 10px;
					width: 120px;
					margin-left: 0;
					margin: 12px 0;
					border: 0;
				}

				input:hover {
					cursor: pointer;
					background-color: #e53d4b;
				}
			}
		}

		.sidebar {
			background-color: #1b1c1e;
			// margin-right: 140px;
			// margin-left: 200px;
			width: 350px;
			max-height: 370px;
			// padding: 60px 85px 0px 85px;
			display: flex;
			flex-direction: column;
			// align-items: center;

			.title {
				color: #fff;
				text-transform: uppercase;
				margin-top: 60px;
				margin-left: 45px;
				// text-align: center;

				.red-underlines {
					height: 7px;
					background-color: #ff4454;
					max-width: 100px;
				}
			}

			ul {
				list-style: none;
				margin-left: 45px;
				margin-top: 25px;

				li {
					padding: 15px 0;
					display: flex;
					align-items: center;

					a {
						display: flex;

						img {
							width: 30px;
						}

						p {
							padding-left: 32px;
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: 1544px) {
	.contact-me {
		.contact-me-body {
			form {
				margin-right: 20px;

				.field {
					input {
						margin-left: 100px;
						width: 300px;
					}

					textarea {
						margin-left: 75px;
						min-width: 300px;
						max-width: 300px;
					}
				}

				.email-field {
					input {
						margin-left: 103px;
					}
				}
			}
		}
	}
}

@media screen and (max-width: 1024px) {
	.contact-me {
		.contact-me-body {
			form {
				margin-right: 30px;

				.field {
					input {
						margin-left: 50px;
						width: 300px;
					}

					textarea {
						margin-left: 25px;
						min-width: 300px;
						max-width: 300px;
					}
				}

				.email-field {
					input {
						margin-left: 53px;
					}
				}
			}

			.sidebar {
				width: 300px;
				max-height: 370px;
				display: flex;
				flex-direction: column;

				.title {
					color: #fff;
					text-transform: uppercase;
					margin-top: 60px;
					margin-left: 35px;

					.red-underlines {
						height: 7px;
						background-color: #ff4454;
						max-width: 100px;
					}
				}

				ul {
					list-style: none;
					margin-left: 35px;
					margin-top: 25px;

					li {
						padding: 15px 0;
						display: flex;
						align-items: center;

						a {
							display: flex;

							img {
								width: 30px;
							}

							p {
								padding-left: 20px;
							}
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: 780px) {
	.contact-me {
		h1 {
			padding: 50px 0px 0 0px;
		}

		.contact-me-body {
			flex-direction: column;
			justify-content: center;

			form {
				margin: 50px 0px 50px 0px;

				.field {
					display: flex;
					flex-direction: column;
					align-items: flex-start;

					input {
						margin-left: 0px;
						margin-top: 10px;
						width: 100%;
					}

					textarea {
						margin-left: 0px;
						margin-top: 10px;
						min-width: 350px;
					}
				}

				.email-field {
					input {
						margin-left: 0px;
					}
				}
			}

			.sidebar {
				width: 100%;
				max-height: 380px;
				flex-direction: column;
				align-items: center;
				padding: 50px 0;

				.title {
					color: #fff;
					text-transform: uppercase;
					margin-top: 0px;
					margin-left: 0px;

					.red-underlines {
						height: 7px;
						background-color: #ff4454;
						max-width: 100px;
					}
				}

				ul {
					list-style: none;
					margin-left: 35px;
					margin-top: 25px;

					li {
						padding: 15px 0;
						display: flex;
						align-items: center;

						a {
							display: flex;

							img {
								width: 30px;
							}

							p {
								padding-left: 20px;
							}
						}
					}
				}
			}
		}
	}
}
