/* hero section */
.hero {
	display: flex;
	flex-direction: column;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	height: 94vh;
	background: url('../public/nd_new_bkg_grayed.png') center center/cover;
	background-position: 10% 30%;
	// background-size: 1920px 981px;
	color: #fff;
	justify-content: center;

	.title {
		// margin-top: 280px;
		margin-top: -20px;
		// margin-left: 140px;
		display: flex;
		flex-direction: column;
		text-transform: uppercase;
		font-size: 1.8rem;

		span {
			color: #ff4454;
		}
	}

	.para {
		// margin-left: 140px;
		margin-top: 10px;

		p {
			font-size: 1.2rem;
		}
	}
}

@media screen and (max-width: 1544px) {
}

/* small laptop screen */
@media screen and (max-width: 1024px) {
	.hero {
		.title {
			font-size: 1.5rem;
		}
	}
}

/* mobile */
@media screen and (max-width: 780px) {
	.hero {
		.title {
			font-size: 1.2rem;
		}
	}
}
