.navbar {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #1b1c1e;
	// position: relative;

	.logo {
		margin: 25px 0 25px 0px;
		color: #fff;

		img {
			width: 100px;
		}
	}

	.navbar-items {
		margin: 25px 0px 25px 0;
		color: #fff;
		text-transform: uppercase;

		ul {
			display: flex;
			list-style: none;

			li {
				padding: 0 0px 0 30px;

				a {
					font-size: 0.9rem;
					font-weight: 400;
				}

				a:hover {
					text-decoration: underline;
				}
			}
		}
	}

	.hamburger-menu-icon {
		display: none;
	}
}

@media screen and (max-width: 780px) {
	.navbar {
		.logo {
			margin: 25px 0 25px 0px;
			color: #fff;

			img {
				width: 80px;
			}
		}

		.navbar-items {
			margin: 25px 0px 25px 0;
			color: #fff;
			text-transform: uppercase;

			ul {
				display: none;
			}
		}

		.hamburger-menu-icon {
			display: block;
		}
	}
}
