.navbar {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #1b1c1e;

	.logo {
		margin: 25px 0 25px 140px;
		color: #fff;

		img {
			width: 100px;
		}
	}

	.navbar-items {
		margin: 25px 140px 25px 0;
		color: #fff;
		text-transform: uppercase;

		ul {
			display: flex;
			list-style: none;

			li {
				padding: 0 30px;

				a {
					font-size: 0.9rem;
					font-weight: 400;
				}

				a:hover {
					text-decoration: underline;
				}
			}
		}
	}
}
